<div class='user-profile'>
  <h1>Your Profile</h1>
  <h3>Name:    <%=current_user.first_name %> <%=current_user.last_name %></h3>
  <h3>Email:   <%=current_user.email      %></h3>
  <h3>Address: <%=current_user.address    %></h3>
</div>