<h2>Your Orders</h2>

<% @orders.reverse.each do |order|%>
  <div>
    Order Number: <%=order.id%>
    Order Date: <%=order.format_date%>
    <br>
    <%= button_to "View Order", order_path(order), method: "get" %>
  <div>
<%end%>
