
@import "variables";

body {
  background  : $bubbles;
  font-family : 'Raleway', sans-serif;
  font-size   : 14px;
}

.landing {
  height : 95vh;
}

.alert-success {
  margin-top: 20px;;
  color      : green;
  text-align : center;
  a {
    font-weight     : 700;
    color           : green;
    text-decoration : none;
    &:hover {
      text-decoration : underline;
    }
  }
}

.alert-error { @extend .alert-success }

.alert-notice {
  color      : red;
  text-align : center;
  a {
    font-weight     : 700;
    color           : red;
    text-decoration : none;
  }
  &:hover {
    text-decoration : underline;
  }
}

nav {
  padding-bottom   : 25px;
  background-color : $blackshadows;
  .nav-username {
    display     : flex;
    align-items : center;
    a {
      font-size : 14px;
    }
  }

  .store-name {
    display         : flex;
    font-family     : $primer;
    font-size       : 40px;
    color           : $middlepurple;
    text-align      : center;
    justify-content : center;
    align-items     : center;
    flex-direction  : column;

    img {
      height    : 150px;
      max-width : 100%;
      &:hover {
        transition : all 0.3s;
        transform  : scale(1.1);
      }
    }
  }

  a {
    color           : $middlepurple;
    text-decoration : none;
    align-content   : center;
    &:hover {
      color : $seafoamgreen;
    }
  }

  .nav-links {
    display         : flex;
    width           : 50%;
    margin-top      : 40px;
    font-size       : 20px;
    justify-content : space-around;
  }
}

h1 {
  font-size : 40px;
}

h1, h3, h4 {
  font-family : $roboto;
}

.button_to {
  input {
    background-color : $seafoamgreen;
    font-weight      : 600;
    border           : 2px solid $blackshadows;
    border-radius    : 5px;
    &:hover {
      cursor           : pointer;
      background-color : $bubbles;
      color            : $licorice;
    }
  }
}

.items-container {
  display         : flex;
  padding         : 10px;
  flex-wrap       : wrap;
  justify-content : center;
  .items {
    display         : flex;
    min-height      : 225px;
    width           : 20%;
    margin          : 20px;
    padding         : 10px;
    border          : 2px solid $blackshadows;
    flex-direction  : column;
    justify-content : space-between;
    flex-wrap       : wrap;
    align-items     : center;
    .image {
      text-align: center;
      img {
        max-width: 95%;
      }
    }
    a {
      color           : $middlepurple;
      text-decoration : none;
      &:hover {
        color       : $blackshadows;
      }
    }

    h3 {
      font-family : $roboto;
    }
  }
}

.categories-container {
  text-align : center;
  h1 {
    margin    : 10px;
    font-size : 30px;
  }
  a {
    margin          : 10px;
    font-size       : 1.5em;
    color           : $middlepurple;
    text-decoration : none;

    &:hover {
      font-weight : $semi;
      color       : $blackshadows;
    }
  }
}

.login-page {
  margin-top: 50px;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;

  .form {
    width           : 50%;
    display        : flex;
    z-index        : 1;
    min-height     : 500px;
    padding        : 45px;
    background     : $middlepurple;
    text-align     : center;
    align-items    : center;
    flex-direction : column;

    h1 {
      color : $seafoamgreen;
    }

    input {
      box-sizing    : border-box;
      width         : 100%;
      margin        : 0 0 20px;
      padding       : 20px;
      background    : #f2f2f2;
      font-size     : 14px;
      text-align    : center;
      border        : 0;
      border-radius : 5px;
      outline       : 0;
      &:focus {
        color  : $xanadu;
      }
    }

    span {
      color : $xanadu;
    }

    a {
      color           : $seafoamgreen;
      text-decoration : none;
      text-transform  : uppercase;
      align-content   : center;
      &:hover {
        font-weight : $bold;
        color       : $xanadu;
      }
    }

    .submit {
      width          : 100%;
      margin-top     : 4px;
      padding        : 20px;
      cursor         : pointer;
      background     : $bubbles;
      font-size      : 14px;
      color          : $licorice;
      text-transform : uppercase;
      border         : 0;
    }

    .submit:active, .submit:focus, .submit:hover {
      background : $xanadu;
      color      : #22313F;
    }
  }
}

.login-form {
  margin-top : 80px;
}

.category-title {
  margin     : 30px;
  text-align : center;
}

.category-item {
  margin          : 10px;
  font-size       : 18px;
  color           : $licorice;
  text-decoration : none;
  &:hover {
    color       : $blackshadows;
  }
}

.item-show-container {
  display         : flex;
  text-align      : center;
  flex-direction  : column;
  align-content   : center;
  justify-content : center;
  .item-show {
    display         : flex;
    justify-content : center;
    .item-details {
      display         : flex;
      align-items     : flex-start;
      flex-direction  : column;
      justify-content : space-between;
    }
    div {
      margin : 20px;
    }
  }
  .related-item-container {
    @include related-items;
  }
}

.user-profile {
  text-align : center;
  h1, h3 {
    margin : 10px;
  }
  p {
    font-size: 20px;
    margin: 10px;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

table.orders {
  width: 100%;

  th {
    font-size   : 1.2em;
    font-weight : $semi;
    border-top: 40px solid transparent;
    border-bottom: 20px solid transparent;
  }
  td {
    margin: auto;
    padding: 5px;
    font-size: 100%;
    font: inherit;
    text-align: center;
    vertical-align: middle;
  }
}

.carts-container {
  display        : flex;
  flex-direction : column;
  align-items    : center;

  td {
    vertical-align: middle;
  }

  a {
    color           : $licorice;
    text-decoration : none;

    &:hover {
      color       : $blackshadows;
    }
  }

  table {
    width      : 75%;
    margin-top : 30px;
    th {
      font-size   : 1.2em;
      font-weight : $semi;
    }
    td {
      text-align : center;
    }
  }

  .controls {
    display         : flex;
    align-items     : center;
    justify-content : center;
    * {
      margin : 4px;
    }
  }

  .cart-item {
    display         : flex;
    width           : 50%;
    justify-content : flex-start;
    align-items     : center;

    * {
      margin-right : 10px;
      margin-left  : 10px;
    }
  }

  span {
    font-weight : $semi;
  }

  .checkout {
    height           : 50px;
    width            : 200px;
    margin           : 10px;
    background-color : $bubbles;
    font-size        : 1.5em;
    &:hover {
      border : 5px solid $seafoamgreen;
    }
  }

  .login-wrap {
    margin-top: 20px;
    .login-to-checkout {
      width: 300px;
      text-transform: uppercase;
    }
  }
}

.admin-dashboard {
  @extend .carts-container;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  h1 {
    margin : 25px;
  }

  table { margin: 0;}

  .alter-status {
    font-size : inherit;
  }

  span {
    color : $blackshadows;
  }

  a {
    margin          : 10px;
    font-size       : 1.5em;
    color           : $licorice;
    text-decoration : none;

    &:hover {
      font-weight : 600;
      color       : $blackshadows;
    }
  }
}

.single-order{
  width      : 75%;
  margin-top : 30px;
  margin-left: auto;
  margin-right: auto;
  p {
    font-size: 18px;
    font-weight: 600;
  }
}

.single-order-items {
  width      : 75%;
  margin-top : 30px;
  margin-left: auto;
  margin-right: auto;
  th {
    font-size   : 1.2em;
    font-weight : $semi;
    text-align: left;
  }
  .last-row {
    border-top: 15px solid transparent;
    .last-row-title {
      text-align: right;
      font-weight: 600;
      padding-right: 10px;
    }
  }

  a {
    text-decoration: none;
    color: $middlepurple;
  }

  a:hover {
    color: $xanadu;
  }
}
.items-table {
  th {
    font-size   : 1.2em;
    font-weight : $semi;
    border: 20px solid transparent;
  }

  td {
    margin: auto;
    padding: 20px;
    font-size: 100%;
    font: inherit;
    text-align: center;
    vertical-align: middle;

    a {
      margin          : 10px;
      font-size       : 1.25em;
      color           : $licorice;
      text-decoration : none;

      &:hover {
        font-weight : 600;
        color       : $blackshadows;
      }
    }

    .button_to {
      padding: 20px;
    }
  }
}

.item-index {
  margin-top: 20px;
  margin-left: 20px;
}


.admin-form-container {
  @extend .login-page;
  .form {
    input {
      margin-top: 20px;
    }
    select {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      padding: 20px;
      border: none;
      height: 55px;
      text-align: center;
      text-align-last: center;
    }
    textarea {
      width: 100%;
      border: none;
      border-radius: 4px;
      height: 55px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    label {
      color: $antiflashwhite;
      margin: 10px;
    }

    input[name="commit"]:hover {
      color: $blackshadows;
      cursor: pointer;
    }
  }
}