@import 'variables';

body {
  font-family: 'Raleway', sans-serif;
  font-size  : 14px;
  background : $bubbles;
}


.landing {
  height: 95vh;
}

.alert-success {
  color     : green;
  text-align: center;
  a {
    text-decoration: none;
    color          : green;
    font-weight    : 700;
  }
  &:hover {
    text-decoration: underline;
  }
}

nav {
  background-color: $blackshadows;
  padding-bottom: 25px;

  .nav-username {
    display: flex;
    align-items: center;
    a {
      font-size: 14px;
    }
  }
  .store-name {
    font-family     : $primer;
    font-size       : 40px;
    text-align      : center;
    color           : $middlepurple;
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex-direction  : column;
    img {
      height: 150px;
      max-width: 100%;
      &:hover {
        transition: all 0.3s;
        transform: scale(1.1);
      }
    }
  }
  a {
    text-decoration: none;
    align-content  : center;
    color          : $middlepurple;
    &:hover {
      color: $seafoamgreen;
    }
  }
  .nav-links {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    width: 50%;
    margin-top: 40px;
  }
}

h1 {
  font-size: 40px;
}


h1, h3, h4 {
  font-family: $roboto;
}

.button_to {
  input {
    border: 2px solid $blackshadows;
    border-radius   : 5px;
    background-color: $seafoamgreen;
    font-weight: 600;
    &:hover {
    background-color: $bubbles;
    color: $licorice;
    cursor: pointer;
    }
  }
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  .items {
    h3 {
      font-family: $roboto;
    }
    border          : 2px solid $blackshadows;
    margin          : 20px;
    padding         : 20px;
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    flex-wrap       : wrap;
    align-items     : center;
    min-height      : 225px;
    width           : 20%;
  }
}

.item {
  display: inline-block;
  p {
    margin: 20px;
  }
}

.categories-container {
  text-align: center;
  h1 {
    margin: 10px;
    font-size: 30px;
  }
  a {
    text-decoration: none;
    margin: 10px;
    color          : $middlepurple;
    font-size: 1.5em;
    &:hover {
      color: $blackshadows;
      font-weight: $semi;
    }
  }
}

.login-page {
  display         : flex;
  width           : 800px;
  height          : 80vh;
  margin          : auto;
  align-items     : center;
  justify-content : center;

  .form {
    z-index        : 1;
    display        : flex;
    position       : relative;
    width          : 100%;
    min-height     : 500px;
    padding        : 45px;
    background     : $middlepurple;
    text-align     : center;
    align-items    : center;
    flex-direction : column;
    h1 {
      color: $seafoamgreen;
    }
    input {
      box-sizing   : border-box;
      width        : 100%;
      margin       : 0 0 20px;
      padding      : 20px;
      border       : 0;
      background   : #f2f2f2;
      outline      : 0;
      font-size    : 14px;
      text-align   : center;
      border-radius: 5px;
      &:focus {
        color: $xanadu;
        border: 5px solid $xanadu;
      }
    }

    span {
      color: $xanadu;
    }

    a {
    text-decoration: none;
    text-transform : uppercase;
    align-content  : center;
    color          : $seafoamgreen;
    &:hover {
      color: $xanadu;
      font-weight: $bold;
      }
    }

    .submit {
      width         : 100%;
      margin-top    : 4px;
      padding       : 20px;
      color         : $licorice;
      border        : 0;
      background    :$bubbles;
      text-transform: uppercase;
      font-size     : 14px;
      cursor        : pointer;
    }
    .submit:active,
    .submit:focus,
    .submit:hover {
      color     : #22313F;
      background: $xanadu;
    }
  }
}

.login-form {
  margin-top: 80px;
}


.category-title {
  text-align: center;
  margin: 30px;
}

.category-item {
  text-decoration: none;
  font-size      : 24px;
  color          : $licorice;
  margin         : 10px;
  &:hover {
    color       : $blackshadows;
    font-weight : 600;
  }
}


.item-show-container {
  display        : flex;
  flex-direction : column;
  align-content  : center;
  justify-content: center;
  text-align     : center;

  .item-show {
    display         : flex;
    justify-content : center;
    .item-details {
      align-items     : flex-start;
      display         : flex;
      flex-direction  : column;
      justify-content : space-between;
    }
    div {
      margin: 20px;
    }
  }

  .related-item-container { @include related-items; }
}