@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

$xanadu         : #73877B;
$bubbles        : #E5FCF5;
$seafoamgreen   : #B3DEC1;
$middlepurple   : #210124;
$blackshadows   : #BAABBD;
$licorice       : #150117;
$antiflashwhite : #F1F9F3;

$roboto : 'Roboto Slab', serif;
$light  : 300;
$bold   : 700;